{% extends 'base.html' %}

{% block include_head %}
  <title>User Profile</title>
  <style>
    .avatar {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      height: 300px;
    }
    .profile-header {
      text-align: center;
    }
  </style>
  <script src="{{ url_for('static', path='/tracking.js') }}"></script>
  <script>
    tracking(
      id="{{ user.id }}",
      page_access_description="Number of users who accessed the initial page",
      callback_url="{{ url_for('tracking') }}"
    )
    .visibility("#user_avatar", "Percentage of users who scrolled to the avatar image");
  </script>
{% endblock %}

{% block header %}
  <div class="profile-header">
    <h1>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h1>
    <h2>{{ user.employment_title }} | {{ user.employment_key_skill }} </h2>
    <h3>Contacts</h2>
    <h4>{{ user.email }} | {{ user.phone_number }}</h3>
  </div>
{% endblock %}

{% block content %}
  {{ lipsum(n=10, html=True, min=550, max=600) }}
  <img id="user_avatar" src="{{ user.avatar }}" alt="Avatar" class="avatar">
  {{ lipsum(n=10, html=True, min=550, max=600) }}
{% endblock %}
